<div class="container">
  <div class="row" id="pwd-container">
    <div class="col-md-12">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <section class="login-form">
          <form #f="ngForm" (ngSubmit)="submitLogin(f)">
            <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" />
            <div class="col-md-4">
              <label>
                <input ngModel value="student" type="radio" name="optradio">Student</label>
            </div>
            <div class="col-md-4">
              <label>
                <input ngModel value="faculty" type="radio" name="optradio">Faculty</label>
            </div>
            <div class="col-md-4">
              <label>
                <input ngModel value="admin" type="radio" name="optradio">Admin</label>
            </div>
            <input type="email" name="email" placeholder="Email"  class="form-control input-lg" ngModel #email="ngModel" required/>
            <input type="password" class="form-control input-lg" id="password" placeholder="Password" ngModel #password="ngModel" required name="password" />
            <div class="pwstrength_viewport_progress"></div>
            <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Log in</button>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>